*~
*.swp
*.kate-swp
bin/
.classpath
.directory
.metadata/
.settings/
.project

.gradle/
build/
classes/
target/
*.iws
*.ipr
*.iml
out/
.idea
/.sonar
naviServer.cfg
build
logs
generated4ide/
_Deparsed_XSubs.pm
gradlew.bat

/storable/src/all.postgres.sql.properties
/storable/src/su/navitel/storable/list.txt
/sql/unnamed.*.sql
.DS_Store
.attach_pid*
gradle.properties
eshop.properties
